<div class="matches">
  <h5>Matches</h5>
  <% if @user.matches.any? %>
    <ul class="matches-list">
    <% @user.sorted_matches.each do |match| %>
      <li class="match-card"><%= render match %></li>
    <% end %>
    </ul>
  <% else %>
    <div class="empty-matches">
      <%= button_to "Find Matches...", find_matches_user_path(@user), method: :post %>
    </div>
  <% end %>
</div>