<div class="container form-container">
  <% if @user.errors.any? %>
    <div class="form-errors">
      <h4>There were errors on this page:</h4>
      <ul class="error-list">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render partial: "user_form", locals: {new_user: false} %>
</div>