<div class="card match-card"><a href="<%= user_path(match.user) %>">
  <img class="card-img-top" src="http://placekitten.com/286/180" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= match.user_name %></h5>
    <p class="card-text"><strong><%= match.user_astro_sign %></strong> <%= match.score_string %>!</p>
  </div>
</a></div>