// Place all the styles related to the Astros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.astro-info {
  border: 2px solid hsla(530, 80%, 36%, 0.5);
  border-radius: 6px;

  padding: 16px;
  margin-bottom: 12px;  
}

.astro-info:last-child {
  margin-bottom: 0;
}

.astro-attribute {
  .attribute-key {
    font-weight: bold;
  }
}

.astro-info-main > * {
  float: left;
}

.astro-info-main p {
  width: 84%;
}

.astro-info-main .astro-icons {
  width: 4%;
}

.astro-icons {
  margin-left: 10px;
  position: relative;

  img {
    width: 330%;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
  }
  
  .icon-symbol { opacity: 1; }
  .icon-sign { opacity: 0; }
  
  &:hover {
    .icon-sign {opacity: 1;}
    .icon-symbol {opacity: 0;}
  }
} 

/* horoscope */

.astro-horoscope {
  border-top: 1px solid #cfcfcf;
  margin-top: 16px;
  padding-top: 10px;

  .horoscope-title {
    margin-bottom: 4px;
  }

  .horoscope-body {
    margin-bottom: 4px;
  }
}
