// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-photo {
  // overflow: hidden;
  // max-height: 100%;
  // border-radius: 50%;
  // width: 50%;
  // margin: 0 auto;
}

.profile-photo img {
  max-width: 100%;
}

.profile-name {

}

.profile-username, .profile-birthday {
  display: block;
}

.profile-username {
  // font-size: 
}

.profile-birthday {

}

/* cards */

.match-card {
  transition: box-shadow 0.2s ease;  
}

.match-card:hover {
  box-shadow: 0px 1px 28px -8px rgba(0,0,0,0.7);
}

.user-card .card-text {
  text-decoration: none !important;
  color: #000;
}

/* search results */

.search-title {
  em { text-decoration: underline; }
}